 /* Style the navbar */
 .nav {
  overflow: hidden;
  background-color: #4056A1;
  color: #FFFFFF;
  z-index: 12345;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
}

/* Navbar links */
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

span {
    font-family: 'Bungee', sans-serif;
}